<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/main.css" rel="stylesheet">
    <!-- <script src="/scripts/common.js"></script> -->
    {% block head %}
    {% endblock %}
</head>
<body>
    <header class="header">
        <nav id="w1" class="navbar-inverse navbar-fixed-top navbar">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">图书管理系统</a>
                </div>
            </div>
        </nav>
    </header>
    {% block navigation %}{% endblock %}
    <div class="container" id="app">
        {% block content %}{% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <p class="pull-left">© 图书管理系统 2019</p>
        </div>
    </footer>
    <script src="https://cdn.staticfile.org/x-tag/2.0.9-alpha/x-tag-raw.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.staticfile.org/jquery.pjax/2.0.1/jquery.pjax.js"></script>
    <script src="https://cdn.staticfile.org/quicklink/1.0.0/quicklink.umd.js"></script>
    <script>
        // 1、quicklink可以指定落地页加载后，预加载的js文件，用空闲时间把资源prefetch回来
        // 2、预获取的js资源可以自己指定，如下
        // 3、只会把视窗内的js资源预获取回来
        quicklink({
            urls: ['scripts/create.bundle.js']
        });
        $(document).pjax("a", "#app");
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>